[submodule "ThirdParty/SPIRV-Headers"]
	path = ThirdParty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "ThirdParty/ShaderConductor"]
	path = ThirdParty/ShaderConductor
	url = https://github.com/microsoft/ShaderConductor.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
